*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Pathway Extreme', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    background-color: #070D0C;
}
/* .nav-bg{
    background-color: #070D0C;
} */
.button-bg-nav{
    background-color: #9154E4;
}

.background{
    background-color: #070D0C;
}
